In [1]:
import scipy.io

In [32]:
figure1a_ld_N = scipy.io.loadmat('/data/keeling/a/mailes2/a/chen_data/figure1a_ld_N.mat')

figure1b_ld_net_TOA = scipy.io.loadmat('/data/keeling/a/mailes2/a/chen_data/figure1b_ld_net_TOA.mat')

figure1c_ld_net_sfc = scipy.io.loadmat('/data/keeling/a/mailes2/a/chen_data/figure1c_ld_net_sfc.mat')

figure1d_ld_THF = scipy.io.loadmat('/data/keeling/a/mailes2/a/chen_data/figure1d_ld_THF.mat')

In [40]:
figure1c_ld_net_sfc

{'__header__': b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Fri Mar  8 15:08:10 2024',
 '__version__': '1.0',
 '__globals__': [],
 'lat_f': array([[ 88.75,  86.25,  83.75,  81.25,  78.75,  76.25,  73.75,  71.25,
          68.75,  66.25,  63.75,  61.25,  58.75,  56.25,  53.75,  51.25,
          48.75,  46.25,  43.75,  41.25,  38.75,  36.25,  33.75,  31.25,
          28.75,  26.25,  23.75,  21.25,  18.75,  16.25,  13.75,  11.25,
           8.75,   6.25,   3.75,   1.25,  -1.25,  -3.75,  -6.25,  -8.75,
         -11.25, -13.75, -16.25, -18.75, -21.25, -23.75, -26.25, -28.75,
         -31.25, -33.75, -36.25, -38.75, -41.25, -43.75, -46.25, -48.75,
         -51.25, -53.75, -56.25, -58.75, -61.25, -63.75, -66.25, -68.75,
         -71.25, -73.75, -76.25, -78.75, -81.25, -83.75, -86.25, -88.75]]),
 'ld_net_grid': array([[nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        ...,
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan]]),
 'lon_f': array([[  0. ,   2.5,   5. ,   7.5,  10. ,  12.5,  15. ,  17.5,  20. ,
          22.5,  25. ,  27.5,  30. ,  32.5,  35. ,  37.5,  40. ,  42.5,
          45. ,  47.5,  50. ,  52.5,  55. ,  57.5,  60. ,  62.5,  65. ,
          67.5,  70. ,  72.5,  75. ,  77.5,  80. ,  82.5,  85. ,  87.5,
          90. ,  92.5,  95. ,  97.5, 100. , 102.5, 105. , 107.5, 110. ,
         112.5, 115. , 117.5, 120. , 122.5, 125. , 127.5, 130. , 132.5,
         135. , 137.5, 140. , 142.5, 145. , 147.5, 150. , 152.5, 155. ,
         157.5, 160. , 162.5, 165. , 167.5, 170. , 172.5, 175. , 177.5,
         180. , 182.5, 185. , 187.5, 190. , 192.5, 195. , 197.5, 200. ,
         202.5, 205. , 207.5, 210. , 212.5, 215. , 217.5, 220. , 222.5,
         225. , 227.5, 230. , 232.5, 235. , 237.5, 240. , 242.5, 245. ,
         247.5, 250. , 252.5, 255. , 257.5, 260. , 262.5, 265. , 267.5,
         270. , 272.5, 275. , 277.5, 280. , 282.5, 285. , 287.5, 290. ,
         292.5, 295. , 297.5, 300. , 302.5, 305. , 307.5, 310. , 312.5,
         315. , 317.5, 320. , 322.5, 325. , 327.5, 330. , 332.5, 335. ,
         337.5, 340. , 342.5, 345. , 347.5, 350. , 352.5, 355. , 357.5]])}

In [38]:
# from https://stackoverflow.com/questions/38197449/matlab-data-file-to-pandas-dataframe
figure1d_ld_THF['ld_THF_grid'].shape  # dtypes of structures are "unsized objects"
# * SciPy reads in structures as structured NumPy arrays of dtype object
# * The size of the array is the size of the structure array, not the number
#   elements in any particular field. The shape defaults to 2-dimensional.
# * For convenience make a dictionary of the data using the names from dtypes
# * Since the structure has only one element, but is 2-D, index it at [0, 0]

(144, 72)

In [19]:
ld_N_grid = figure1a_1d_N['ld_N_grid']
ld_N_grid_type = ld_N_grid.dtype
print(ld_N_grid_type.names)
ndata = {n: ld_N_grid[n][0, 0] for n in ld_N_grid_type.names}
# Reconstruct the columns of the data table from just the time series
# Use the number of intervals to test if a field is a column or metadata
columns = [n for n, v in ndata.iteritems() if v.size == ndata['numIntervals']]
# now make a data frame, setting the time stamps as the index
df = pd.DataFrame(np.concatenate([ndata[c] for c in columns], axis=1),
                  index=[datetime(*ts) for ts in ndata['timestamps']],
                  columns=columns)

None

TypeError: 'NoneType' object is not iterable